<%- layout('base.ejs')%>
<% block('title', 'Каталог товаров, мебель на заказ') -%>

<div class="container misc-container">
	<h3>О компании</h3>
	<p>Более 15 лет мастера компании изготавливают мебель из дерева под заказ. Мы придаем интерьерам наших клиентов нотку эксклюзивности, делая их уникальными и единственными в своем роде.</p>
	<p>Более полутысячи заказчиков с благодарностью вспоминают сотрудничество с нами, глядя на мебель, которую мы для них сделали. Среди бывших клиентов есть немало и постоянных, партнерские отношения с которыми продолжаются уже несколько лет, а в нашем совместном активе не менее 20-30 проектов.</p>
	<p>Мы профессионалы, а поэтому осознаем важность миссии, возложенной на нас. Мебель должна быть, прежде всего, качественной, безупречной внешне и функциональной. Без этих трех составляющих невозможно добиться идеального результата, как нельзя его получить и без опытных и квалифицированных специалистов. Мастера нашей компании обладают бесценными навыками и знаниями, помогающими создавать те удивительные шедевры, которые украшают теперь дома, офисы и другие объекты наших заказчиков.</p>
	<p>Имея внушительный парк оборудования, и практикуя индивидуальный подход к каждому клиенту, мы изготавливаем мебель, способную составить серьезную конкуренцию изделиям лучших итальянских мастеров. Тем не менее, наши цены более доступны, а изготавливаемая продукция адаптирована по размеру к помещению, в котором она впоследствии будет находиться.
	Мы работаем в любых дизайнерских направлениях.</p>
	<p>Наша мебель может быть решена в классическом стиле, а также стилях барокко, модерн или хай-тек. Сотрудники компании креативны, а поэтому результатом их деятельности является уникальная элитная продукция экстра-класса.</p>
	<p>Наша мебель всегда презентабельна, добротна и долговечна. Если вы испытываете желание изменить окружающую обстановку, сделав ее более комфортной и эксклюзивной, то лучше всего начать с мебели!</p>
	<h3>Преимущества изготовления мебели под заказ</h3>
	<p>Кажется, в широком ассортименте мебели, представленной в магазинах, не составит труда выбрать подходящую для оформления любого пространства. Но практика показывает, что далеко не во все интерьерные концепции органично вписываются стандартизованные композиции. Выход из такой ситуации - заказ мебели у частных мастеров.</p>
	<p>Главное преимущество индивидуального заказа в том, что Вы получаете по-настоящему эксклюзивную мебель. Дизайнером таковой можете быть Вы сами. Наша задача – учесть все пожелания, требования, создать, реализовать индивидуальный проект.</p>
	<p>Доступные сегодня технологии позволяют сделать это оперативно, по доступной цене и при этом гарантировать качество. Материалы в процессе изготовления отдельных элементов и гарнитуров могут быть использованы самые разные. Мы можем реализовать идею любой сложности. Оригинальная мебель, изготовленная на заказ, идеально впишется в конкретное пространство, станет неотъемлемой частью интерьера любого стиля. </p>
	<h3>Кому подходят эксклюзивные мебельные проекты?</h3>
	<p>Считается, что индивидуальный заказ мебели – исключительно дорогое удовольствие. На самом деле он доступен каждому. Цена вопроса напрямую зависит от сложности проекта, выбранных материалов и сроков исполнения заказа. Мы можем изготовить любую мебель, от стандартной до люксовой. Бюджет проекта определяете Вы. Индивидуальный заказ подойдет каждому, кто делает ставку на оригинальность мебели. При этом стилистика, тип ее исполнения значения не имеют. Эксклюзивные проекты часто выбираются как приверженцами эклектичного фьюжна, так и ценителями строгости техно, хай-тека, простоты модерна и гармоничности классики. </p>
</div>