<%- layout('base.ejs')%>
<% block('title', 'Кондор мебель | Доставка и оплата') -%>

<link rel="stylesheet" href="/stylesheets/builded/dostavka.css"/>

<div class="container container-dostavka">
	<div class="block">
		<p class="title">ДОСТАВКА</p>
		<div class="text">

			<div class="text-block">
				<p class="bigger">Бесплатная доставка в пределах МКАД.</p>
				<p>Диваны и кресла, купленные в нашем магазине, доставляются по Москве (в пределах МКАД) бесплатно ДО ПОДЪЕЗДА. Внутрь ТТК - 500 руб.</p>
				<p class="bigger">Внимание!</p>
				<p>Если сумма заказа менее 5000 руб, доставка мебели стоит 500 рублей (до подъезда).</p>
			</div>

			<div class="text-block">
				<p class="bigger">Доставка по Московской области</p>
				<p>Доставка мебели по городам московской области оплачивается в среднем из расчета 30руб/км от МКАД. У различных фабрик эта сумма может различаться - смотрите информацию по доставке на странице конкретной модели в разделе "Информация от производителя".</p>

				<p class="bigger">Внимание!</p>
				<p>Подъем и сборка мебели оплачиваются дополнительно!</p>
			</div>
		</div>
	</div>
	<div class="block">
		<p class="title">ОПЛАТА</p>
		<div class="text">
			<div class="text-block">
				<p>Вы оплачиваете стоимость заказа наличными экспедитору, доставившему Вам мебель. При этом Вы получаете гарантийный талон от фабрики и товарную накладную. Если Вы воспользовались дополнительными услугами (подъем на нужный этаж, доставка за МКАД), Вы также оплачиваете экспедитору при доставке.</p>
			</div>
		</div>
	</div>
</div>

