<%- layout('base.ejs')%>
<% block('title', 'Кондор мебель | Доставка и оплата') -%>

<link rel="stylesheet" href="/stylesheets/builded/dostavka.css"/>

<div class="container container-dostavka">
	<div class="block">
		<p class="title">ДОСТАВКА</p>
		<div class="text">

			<div class="text-block">
				<p class="bigger">Бесплатная доставка в пределах МКАД.</p>
				<p>Мебель, купленная в нашем магазине, доставляется по Москве (в пределах МКАД) бесплатно ДО ПОДЪЕЗДА. Внутрь ТТК - 500 руб.</p>
			</div>

			<div class="text-block">
				<p class="bigger">Доставка по Московской области</p>
				<p>Доставка мебели по городам московской области оплачивается в среднем из расчета 40руб/км от МКАД.</p>

				<p class="bigger">Внимание!</p>
				<p>При отсутствии лифта в подъезде или невозможности поместить в него мебель для подьема, доставка до квартиры оплачивается дополнительно!</p>
			</div>
		</div>
	</div>
	<div class="block">
		<p class="title">ОПЛАТА</p>
		<div class="text">
			<div class="text-block">
				<p>Вы оплачиваете стоимость заказа наличными экспедитору, доставившему Вам мебель. Если Вы воспользовались дополнительными услугами (подъем на нужный этаж, доставка за МКАД), Вы также оплачиваете экспедитору при доставке.</p>
			</div>
		</div>
	</div>
</div>

