<%- layout('base.ejs')%>
<% block('title', 'Кондор мебель | Цены') -%>

<link rel="stylesheet" href="/stylesheets/builded/prices.css"/>

<div class="container prices">

	<p>При расчете стоимости изделия мы отталкиваемся от стоимости погонного метра материала, из которого изготавливается мебель, а так же стоимости фурнитуры.</p>

	<div class="main">		
		<p class="title">Примерные цены, на наши изделия:</p>
		<ul>
			<li>Шкафы балконные от 15000р</li>
			<li>Шкафы гармошки от 12000р</li>
			<li>Шкафы-купе от 19000р</li>
			<li>Шкафы лестничные от 42000р</li>
			<li>Шкафы винные от 15000р</li>
			<li>Шкафы встроенные от 22000р</li>
			<li>Шкафы с фотопечатью от 20000р</li>
			<li>Шкафы распашные от 10000р</li>
			<li>Шкафы угловые от 14000р</li>
			<li>Шкафы радиусные от 62000р</li>
			<br>
			<li>Кровати от 17000р</li>
			<li>Обувницы от 5500 самовывоз от 7000 с доставкой</li>
			<li>Ресепшны от 65000р</li>
			<li>Витрины цена зависит от дизайна и материалов (пластик, металл, стекло)</li>
			<li>Столы от 10000р</li>
			<li>Компьютерные столы от 10000р</li>
			<br>
			<li>Библиотеки от 16000р</li>
			<li>Ванная от 25000р</li>
			<li>Гостиная от 33000р</li>
			<li>Детская от 23000р</li>
			<li>Кухня от 30000р</li>
			<li>Офис от 15000р</li>
			<li>Прихожая от 12000р</li>
			<li>Спальни от 25000р</li>
			<li>Фитнес-центры от 50000р</li>
		</ul>
	</div>

</div>