<%- layout('base.ejs')%>
<% block('title', 'Кондор мебель | Цены') -%>

<link rel="stylesheet" href="/stylesheets/builded/prices.css"/>

<div class="container prices">

	<p>При расчете стоимости изделия мы отталкиваемся от стоимости погонного метра материала, из которого изготавливается мебель, а так же стоимости фурнитуры.</p>

	<div class="main">		
		<p class="title">Примерные цены, на наши изделия:</p>
		<ul>
			<li>Дверь-купе — от 7 000 руб.</li>
			<li>Шкаф-гармошка — от 12 000 руб.</li>
			<li>Распашной шкаф — от 10 000 руб.</li>
			<li>Кухни — от 15 000 руб.</li>
			<li>Подъемные кровати (кровати-трансформеры) от 45 000 руб.</li>
		</ul>
	</div>

</div>