@import "main";

footer {
	height: 300px;
	width: 100%;
	background-color: #f5f5f5;
	margin-top: 50px;
	.container {
		text-align: center;
		padding-top: 80px;
		div[class*=col] {
			display: inline-block;
			text-align: initial;
			font-weight: 100;
			vertical-align: top;
			padding: 0 0 0 30px;
			height: 150px;
			p {
				padding: 0;
				margin: 8px 0;
			}
			.title {
				font-weight: 700;
				margin-top: 0;
				font-size: 18px;
			}
		}
		.col1 {
			width: 20%;
			border-right: 1px solid darken(#f5f5f5, 5%);
		}
		.col2 {
			width: 20%;
			border-right: 1px solid darken(#f5f5f5, 5%);
		}
		.col3 {
			width: 30%;
		}
			
	}
}