@import "main";

$left_width : 65%;
$right_width : 100% - $left_width;

.goods-container {
	overflow: hidden;
}

.breadcrumbs {
	margin-top: 30px;
	@include respond-to(handhelds) { padding: 0 20px; }
	@include respond-to(under-768) { padding: 0 20px; }
	a {
		&:hover {
			color: $main_focus_color;
		}
	}
	.icon {
		padding: 0 3px;
	}
	.current {	
		color: $main_focus_color;
		font-weight: 700;
		font-size: 18px;
	}
}
.product-card {
	margin-top: 40px;
	overflow: hidden;
	@include respond-to(handhelds) { margin-top: 20px; }
	@include respond-to(under-768) { margin-top: 20px; }
	.left {
		float: left;
		width: $left_width;
		padding-right: 30px;
		@include respond-to(handhelds) { width: 100%; float: none; padding: 0 10px;}
		// @include respond-to(mobile-screens) { width: 100%; float: none; padding: 0;}
		@include respond-to(under-768) { width: 100%; float: none; padding: 0 10px;}
		// @include respond-to(medium-screens) { width: 100%; float: none; padding: 0;}
		@include respond-to(768-992) { width: $left_width - 15%;}

		.main-image {
			width: 100%;
			position: relative;
			@include respond-to(handhelds) { height : 200px; }
			@include respond-to(under-768) { height : 300px; }
			@include respond-to(768-992) { height: 250px; }
			.dots-nav {
				position: absolute;
				bottom: 10px;
				left: 0;
				text-align: center;
				z-index: 99;
				width: 100%;
				padding: 5px 0;
				.owl-dot {
					display: inline-block;
					&.active {
						span {
							background: $main_focus_color;
							opacity: 1;

						}
					}
					span {
						opacity: .8;
						background: #d9d9d9;
						width: 8px;
						height: 8px;
						display: inline-block;
						margin: 4px 3px;
						border-radius: 50%;
						cursor: pointer;
					}
				}
			}
			.item {
				height: 450px;
				@include respond-to(handhelds) { height : 200px; }
				@include respond-to(under-768) { height : 300px; }
				@include respond-to(768-992) { height: 250px; }
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
		.mini-images-container {
			text-align: center;
			margin-top: 15px;
			.mini-image {
				cursor: pointer;
				display: inline-block;
				width: 60px;
				height: 50px;
				background-position: center;
				background-size: cover;
				transition: opacity .3s;
				margin: 0px 8px;
				border: 2px solid lighten($main_focus_color, 20%);
				@include respond-to(768-992) { width : 40px; height: 35px;}

				&.faded {
					opacity: 0.3;
					cursor: default;
				}
			}
		}
	}
	.right {
		padding: 0 20px;
		float: left;
		width: $right_width;
		@include respond-to(handhelds) { width: 100%; float: none; padding: 20px; }
		@include respond-to(under-768) { width: 100%; float: none; padding: 20px; }
		.info {
			.title {
				margin: 0;
				padding: 0;
				font-size: 25px;
				@include respond-to(handhelds) { margin-bottom: 20px; }
				@include respond-to(under-768) { margin-bottom: 20px; }	
			}
			.description {
				color: #555;
				margin-bottom: 0;
				margin-top: 10px;
				@include respond-to(handhelds) { margin-bottom: 10px; }
				@include respond-to(under-768) { margin-bottom: 10px; }	
			}
		}
		.k-form {
			.after-offer-form {
				background: lighten($main_focus_color, 10%);
				display: none;
				padding: 10px 15px;
			}
		}
	}
}
