@import "main";

$image_height: 300px;
$image_height_mini: 200px;

h2 {
	margin-bottom: 30px;
	@include respond-to(handhelds) { text-align: center; margin-bottom: 15px;}
	@include respond-to(medium-screens) { text-align: center; margin-bottom: 15px;}
}

.left-panel {
	float: left;
	width: 200px;
	@include respond-to(handhelds) { width: 150px; }
	@include respond-to(medium-screens) { width: 150px; }
	ul {
		list-style: none;
		margin-left: 0px;
		padding: 0;
		font-family: $main_font;
		font-weight: 100;
	}
	> ul {
		padding-right: 15px;
		li {
			&.current .goods-label {
				color: $main_focus_color;
				font-weight: 700;
			}
			p {
				padding: 5px 10px;
				margin: 7px 0;
				transition: background-color .2s;
				&:hover {
					background-color: lighten($main_focus_color, 30%);
				}
			}
			ul.types-list {
				margin-left: 10px;
				li {
					&.current .goods-type-label {
						color: $main_focus_color;
						font-weight: 700;
					}
				}
			}
		}
	}
}
.right-panel {
	float: left;
	width: calc(100% - 200px);
	padding: 5px 20px;
	// background: #f5f5f5;
	@include respond-to(handhelds) { width: calc(100% - 150px); padding-left: 5px; }
	@include respond-to(medium-screens) { width: calc(100% - 150px); padding-left: 5px; }
	.goods-title {
		font-size: 22px;
		font-weight: 700;
	}
	.goods-description {
		font-size: 14px;
		padding: 10px 0;
		font-weight: 300;
	}
	.images-container {
		.cell {
			overflow: hidden;
			float: left;
			width: 50%;
			height: $image_height;
			padding: 15px;
			@include respond-to(handhelds) { width: 100%; height: $image_height_mini;}
			@include respond-to(medium-screens) { width: 100%; height: $image_height_mini;}
			&:nth-child(2n) {
				padding-right: 0;
				@include respond-to(handhelds) { padding: 0; }
				@include respond-to(medium-screens) { padding: 0; }
			}
			&:nth-child(2n+1) {
				padding-left: 0;
				@include respond-to(handhelds) { padding: 0; }
				@include respond-to(medium-screens) { padding: 0; }
			}
			.goods-image-wrapper {
				width: 100%;
				height: 100%;
				// background-color: lighten($main_focus_color, 30%);
				.image {
					width: 100%;
					height: $image_height - 65px;
					@include respond-to(handhelds) { height: $image_height_mini - 40px; }
					@include respond-to(medium-screens) { height: $image_height_mini - 40px; }
					background-size: cover;
					background-position: center;
				}
				.image-label {
					padding: 10px 0;
					font-family: $main_font;
					font-weight: 700;
					text-align: center;
				}
			}
		}
	}
}