<link rel="stylesheet" href="/stylesheets/builded/footer.css"/>

<footer>
	<div class="container">
		<div class="col1">
			<p class="title">Информация</p>
			<a href="/about"><p>О компании</p></a>
			<a href=""><p>Производство</p></a>
			<a href=""><p>Контакты</p></a>
			<a href=""><p>Отзывы</p></a>
		</div>
		<div class="col2">
			<p class="title">Покупателю</p>
			<a href="/tovary"><p>Мебель на заказ</p></a>
			<a href=""><p>Материалы</p></a>
			<a href=""><p>Доставка и оплата</p></a>
		</div>
		<div class="col3">
			<p class="title">Адрес</p>
			<p>Москва, м. Сходненская, улица Свободы, 29, цокольный этаж</p>
			<p>тел. 8 (916) 495-71-62</p>
			<p>тел. 8 (495) 928-44-84</p>
		</div>
	</div>
</footer>