<link rel="stylesheet" href="/stylesheets/builded/header.css"/>

<header>
<div class="top-panel container">
<!-- <div class="top-panel"> -->
    
    <div class="logo"></div>
    
    <div class="content">
            
        <div class="top">
            <a href="">О компании</a>
            <a href="">Доставка и оплата</a>
        </div>

        <div class="bottom">
            <a class="main-focus" href="">Мебель на заказ</a>
            <a href="">Материалы</a>
            <a href="">Фотографии изделий</a>
            <a class="callback" href="">Заказать звонок</a>
        </div>

    </div>

    <div class="misc">
        <div class="phone">+7 (495) <span> 782 13 98</span></div>
    </div>

</div>
<div class="image-panel"></div>
<div class="menu-panel">
    <!--<a href="">Шкафы</a>
    <a href="">Столы</a>
    <a href="">Кухни</a>
    <a href="">Мебель для спальни</a>
    <a href="">Гардеробные комнаты</a>
    <a href="">Тумбы</a>
    <a href="">Детские</a>
    <a href="">Прихожие</a>-->
</div>

</header>


