@font-face {
  font-family: 'Raleway';
  src: url("../../fonts/Raleway/Raleway-Thin.ttf") format("truetype");
  font-weight: 100; }
@font-face {
  font-family: 'Milio';
  src: url("../../fonts/Milio.ttf") format("truetype"); }
@font-face {
  font-family: 'Effra';
  src: url("../../fonts/Effra/Dalton Maag - Effra Heavy.ttf") format("truetype");
  font-weight: 700; }
@font-face {
  font-family: 'Effra';
  src: url("../../fonts/Effra/Dalton Maag - Effra Bold.ttf") format("truetype");
  font-weight: 500; }
@font-face {
  font-family: 'Effra';
  src: url("../../fonts/Effra/Dalton Maag - Effra Medium.ttf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: 'Effra';
  src: url("../../fonts/Effra/Dalton Maag - Effra Light.ttf") format("truetype");
  font-weight: 100; }
@font-face {
  font-family: 'ProximaNova';
  src: url("../../fonts/ProximaNova/regular.ttf") format("truetype");
  font-weight: 100; }
@font-face {
  font-family: 'ProximaNova';
  src: url("../../fonts/ProximaNova/bold.ttf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: 'ProximaNova';
  src: url("../../fonts/ProximaNova/extrabold.ttf") format("truetype");
  font-weight: 500; }
@font-face {
  font-family: 'ProximaNova';
  src: url("../../fonts/ProximaNova/black.ttf") format("truetype");
  font-weight: 700; }
html, body {
  padding: 0;
  margin: 0;
  background-color: #f5f5f5; }

html * {
  font-family: "Effra";
  color: #333333;
  box-sizing: border-box; }

html a {
  text-decoration: none; }

.interiors {
  margin: 20px auto 10px auto;
  overflow: hidden; }
  .interiors h2 {
    text-align: center;
    margin-bottom: 40px; }
  .interiors .each-interior {
    position: relative;
    padding: 0 20px; }
    .interiors .each-interior .item img {
      display: block;
      width: 100%; }
    .interiors .each-interior .title {
      position: absolute;
      top: 40%;
      width: 100%;
      left: 0;
      text-align: center;
      z-index: 9999; }
      @media only screen and (max-width: 320px) {
        .interiors .each-interior .title {
          top: 35%; } }
      .interiors .each-interior .title span {
        font-weight: 700;
        font-size: 30px;
        color: white; }
        @media only screen and (max-width: 320px) {
          .interiors .each-interior .title span {
            font-size: 25px; } }
    .interiors .each-interior .owl-controls {
      position: relative;
      top: -40px; }
      .interiors .each-interior .owl-controls .owl-page.active span {
        background: #FFB23F;
        opacity: 1; }
      .interiors .each-interior .owl-controls .owl-page span {
        opacity: .8;
        background: white; }

.misc-container {
  padding: 40px 0;
  font-weight: 300; }
  .misc-container h3 {
    font-weight: 500; }

header {
  position: relative;
  width: 100%;
  height: 120px;
  background-color: #f5f5f5; }
  @media only screen and (max-width: 320px) {
    header {
      height: initial; } }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    header {
      height: initial; } }
  header.dropped .slider-drop-down {
    height: 250px; }
  header .mini-wrapper {
    display: none;
    text-align: center;
    overflow: hidden; }
    @media only screen and (max-width: 320px) {
      header .mini-wrapper {
        display: initial; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      header .mini-wrapper {
        display: initial; } }
    header .mini-wrapper .logo {
      padding: 20px 0; }
      header .mini-wrapper .logo img {
        width: 100px;
        height: 100px; }
    header .mini-wrapper .top {
      margin: 10px 0; }
      header .mini-wrapper .top a {
        display: inline-block;
        width: 50%;
        height: 25px;
        line-height: 25px;
        float: left;
        font-weight: 300;
        text-decoration: underline; }
    header .mini-wrapper .bottom {
      margin: 30px 0; }
      header .mini-wrapper .bottom a {
        display: inline-block;
        width: 100%;
        font-size: 15px;
        height: 35px;
        line-height: 35px; }
        header .mini-wrapper .bottom a.main-focus span {
          padding: 5px 10px;
          background: #FFB23F;
          border-radius: 5px;
          border: none; }
        header .mini-wrapper .bottom a.callback span {
          padding: 5px 10px;
          background: #34c520;
          border-radius: 5px;
          border: none; }
  header .wrapper {
    position: relative;
    transition: border-bottom .3s;
    z-index: 10; }
    @media only screen and (max-width: 320px) {
      header .wrapper {
        display: none; } }
    @media only screen and (min-width: 320px) and (max-width: 767px) {
      header .wrapper {
        display: none; } }
    header .wrapper .top-panel {
      position: relative;
      height: 120px;
      z-index: 5; }
      header .wrapper .top-panel .logo {
        width: 120px;
        height: 120px;
        float: left;
        background-image: url("/assets/logo-text-no-line.png");
        background-size: contain;
        background-position: center;
        margin-right: 5px; }
      header .wrapper .top-panel .content {
        width: calc(100% - 125px);
        float: left; }
        header .wrapper .top-panel .content .top {
          height: 60px;
          font-size: 15px;
          line-height: 60px;
          margin-left: 15px; }
          header .wrapper .top-panel .content .top a {
            text-decoration: underline;
            margin-right: 30px;
            font-family: 'Milio'; }
        header .wrapper .top-panel .content .bottom {
          position: relative;
          margin-top: 5px; }
          header .wrapper .top-panel .content .bottom a {
            float: left;
            background-color: #f5f5f5;
            font-family: "Effra";
            font-weight: 500;
            padding: 10px 15px;
            border-radius: 5px;
            margin-right: 30px;
            transition: background-color 0.2s; }
            @media only screen and (max-width: 320px) {
              header .wrapper .top-panel .content .bottom a {
                padding: 5px 10px;
                margin-right: 15px; } }
            @media only screen and (min-width: 321px) and (max-width: 1023px) {
              header .wrapper .top-panel .content .bottom a {
                padding: 5px 10px;
                margin-right: 15px; } }
            @media only screen and (min-width: 321px) and (max-width: 550px) {
              header .wrapper .top-panel .content .bottom a {
                padding: 5px 10px;
                margin-right: 15px; } }
            header .wrapper .top-panel .content .bottom a:hover {
              background-color: gainsboro; }
            header .wrapper .top-panel .content .bottom a.main-focus {
              position: relative;
              background-color: #FFB23F;
              font-family: "Effra";
              font-weight: 500;
              padding: 10px 15px;
              border-radius: 5px;
              margin-right: 30px;
              transition: background-color 0.2s; }
              @media only screen and (max-width: 320px) {
                header .wrapper .top-panel .content .bottom a.main-focus {
                  padding: 5px 10px;
                  margin-right: 15px; } }
              @media only screen and (min-width: 321px) and (max-width: 1023px) {
                header .wrapper .top-panel .content .bottom a.main-focus {
                  padding: 5px 10px;
                  margin-right: 15px; } }
              @media only screen and (min-width: 321px) and (max-width: 550px) {
                header .wrapper .top-panel .content .bottom a.main-focus {
                  padding: 5px 10px;
                  margin-right: 15px; } }
              header .wrapper .top-panel .content .bottom a.main-focus:hover {
                background-color: #ff9e0c; }
              header .wrapper .top-panel .content .bottom a.main-focus:hover .menu-helper {
                display: initial; }
              header .wrapper .top-panel .content .bottom a.main-focus .menu-helper {
                display: none;
                height: 40px;
                width: 100%;
                position: absolute;
                bottom: -40px;
                left: 0;
                cursor: default; }
            header .wrapper .top-panel .content .bottom a.callback {
              background-color: #0db741;
              font-family: "Effra";
              font-weight: 500;
              padding: 10px 15px;
              border-radius: 5px;
              margin-right: 30px;
              transition: background-color 0.2s;
              color: white;
              float: right;
              margin-right: 0; }
              @media only screen and (max-width: 320px) {
                header .wrapper .top-panel .content .bottom a.callback {
                  padding: 5px 10px;
                  margin-right: 15px; } }
              @media only screen and (min-width: 321px) and (max-width: 1023px) {
                header .wrapper .top-panel .content .bottom a.callback {
                  padding: 5px 10px;
                  margin-right: 15px; } }
              @media only screen and (min-width: 321px) and (max-width: 550px) {
                header .wrapper .top-panel .content .bottom a.callback {
                  padding: 5px 10px;
                  margin-right: 15px; } }
              header .wrapper .top-panel .content .bottom a.callback:hover {
                background-color: #0a8830; }
      header .wrapper .top-panel .misc {
        position: absolute;
        top: 0;
        right: 0;
        margin: 15px 0px 0 0; }
        header .wrapper .top-panel .misc * {
          font-family: "ProximaNova";
          font-weight: 700; }
        header .wrapper .top-panel .misc .phone {
          font-size: 20px;
          color: #333333; }
          header .wrapper .top-panel .misc .phone span {
            margin-left: 5px;
            color: #FFB23F;
            font-size: 30px; }
  header .slider-drop-down {
    height: 0;
    width: 100%;
    z-index: 2;
    position: absolute;
    transition: height .5s, top .2s;
    overflow: hidden; }
    header .slider-drop-down::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #e3e3e3;
      content: ''; }
    header .slider-drop-down::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #e3e3e3;
      content: ''; }
    header .slider-drop-down:hover {
      height: 250px; }
    header .slider-drop-down .menu-wrapper {
      height: 100%;
      background-color: white;
      padding: 20px; }
      header .slider-drop-down .menu-wrapper .left-column {
        width: 40%;
        float: left;
        display: inline-block;
        border-right: 1px solid #e3e3e3; }
        header .slider-drop-down .menu-wrapper .left-column ul {
          margin: 0;
          padding: 0;
          list-style: none;
          float: right; }
          header .slider-drop-down .menu-wrapper .left-column ul li {
            height: 26px;
            line-height: 26px;
            font-family: "Effra";
            font-weight: 100;
            font-size: 16px;
            padding-right: 90px;
            transition: background-color .2s; }
            header .slider-drop-down .menu-wrapper .left-column ul li:hover {
              background-color: #ffefd8; }
            header .slider-drop-down .menu-wrapper .left-column ul li a {
              transition: color .2s;
              padding-left: 20px; }
            header .slider-drop-down .menu-wrapper .left-column ul li:hover a {
              color: #000; }
      header .slider-drop-down .menu-wrapper .right-column {
        display: inline-block;
        float: left;
        width: 60%; }
        header .slider-drop-down .menu-wrapper .right-column .image-wrapper {
          left: 100px;
          position: relative; }
          header .slider-drop-down .menu-wrapper .right-column .image-wrapper .image {
            width: 300px;
            height: 210px;
            top: 0;
            left: 0;
            position: absolute;
            background-size: cover; }

.image-panel {
  height: 400px;
  width: 96%;
  margin: 0 auto; }

/*# sourceMappingURL=header.css.map */
